/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$white: #FFFFFF;
$black: #000000;
$blue: #006494;
$dark-blue: #1B263B;
$grey: #7799A5;
$light-grey: #D5D5D5;
$red: #F71735;
$red-dark: #803841;
$purple: #4C0564;
$light-purple: #BF8ED2;
$lighter-purple: #f1d3fd;
$circle-purple: #83479B;
$yellow: #F4C345;
$dark-grey: #aaaaaa;