.aboutstuff {

    @include lg {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 30px;
    }
}

.aboutpic_panel {

    object-fit: cover;
    width: 400px;

    @include md {
        width: 450px;
        float: none;
        align-items: center;
        justify-content: center;
    }

    @include lg {
        width: 500px;
        float: right;

    }
}

.aboutpic_panels {

    padding-top: 80px;
    margin-left: 30px;

    @include md {
        align-items: center;
        justify-content: center;
        margin-left: 30px;
    }

    @include lg {
        padding-top: 150px;
        margin-left: 110px;
    }
}

.aboutintro {

    display: block;
    list-style-type: none;
    font-size: 40px;
    padding-top: 16px;
    padding-left: 30px;
    width: 80%;

    @include md {
        font-size: 50px;
        width: 90%;
        align-items: center;
        padding-top: 0px;
    }

    @include lg {
        font-size: 60px;
        width: 80%;
    }
}

#name {
    color: #FFC700;
    text-shadow: -1px 1px #000000;

    @include md {
        text-shadow: -2px 2px #000000;
    }
}

.paragraph11 {
    font-size: 22px;
    font-weight: 300;
    padding-left: 1.5px;
    padding-top: 12px;
}

.iconsp {
    display: flex;
    flex-direction: row;
    padding-left: 2px;
}

.linkedinp {
    padding-left: 2.5px;
}

.email-logop {
    width: 30px;
    margin-bottom: -13px;
}

hr {
    height: 2px;
    border: 0;
    background-color: #FFC700;
    margin-left: 25px;
    margin-right: 25px;

    @include md {
        margin-left: 30px;
        margin-right: 30px;
    }

    @include lg {
        margin-left: 50px;
        margin-right: 50px;
    }
}

.bottom-block {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

.education {
    padding-top: 30px;
    padding-left: 40px;
    list-style-type: none;

    @include md {
        padding-left: 59px;
    }

}

.education-title {
    font-size: 27px;
    font-weight: 400;
    color: #FFC700;
    text-shadow: -1px 1px #000000;
    padding-left: 1.5px;
    padding-bottom: 10px;
}

.education-2 {
    font-size: 22px;
    font-weight: 300;
    padding-left: 1.5px;
}

.education-3 {
    font-size: 22px;
    font-weight: 300;
    padding-left: 1.5px;
    padding-bottom: 30px;
}

.skills {
    list-style-type: none;
    padding-top: 30px;
}

.honors {
    list-style-type: none;
    padding-left: 40px;
    padding-top: 30px;

    @include md {
        padding-left: 59px;
    }
}

.programs {
    list-style-type: none;
    padding-top: 30px;
}

.resume-button {
    color: #000000;
    transition: 0.25s;
    padding: 10px 20px;
    border-radius: 30px;
    border: solid 2px #000000;
    width: fit-content;
    font-size: 20px;
}

.resub {
    text-decoration: none;
    color: #000000;
}

.bottom-block {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 30px;
    width: 90%;

    @include md {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}