.back {
  width: 90%;
  padding-left: 30px;
}
.title {
  padding-top: 50px;
  font-size: 60px;
  font-weight: 450;
  color: #FFC700;
  list-style-type: none;
  text-shadow: -2px 2px #000000;
}

.crit-title-2 {
  font-size: 25px;
  color: #000000;
  list-style-type: none;
  width: 100%;

  @include md {
    width: 740px;
}
}

.objective {
  padding-top: 50px;
  font-size: 30px;
  color: #000000;
  list-style-type: none;
  text-shadow: -0.8px 0.8px #FFC700;
}

.crit-objective-2 {
  font-size: 20px;
  color: #000000;
  list-style-type: none;
  width: 100%;

  @include md {
    width: 740px;
}
}

.objective-3 {
  padding-top: 20px;
  font-size: 30px;
  color: #000000;
  list-style-type: none;
  text-shadow: -0.8px 0.8px #FFC700;
}

.magazine-image1 {
  width: 100%;
  display: flex;
  padding-top: 40px;
  padding-bottom: 11px;
}

.magazine-cover-spread {
  width: 50%;
  padding-bottom: 11px;
}

.magazine-spread-1 {
  width: 100%;
  padding-bottom: 11px;
}

.crit-bit-1a {
  padding-bottom: 11px;
  width: 100%;

  @include md {
  width: 33%;
}
}

.crit-bit-1b {
  padding-bottom: 11px;
  width: 100%;

  @include md {
  width: 33%;
}
}

.bit-1c {
  object-fit: cover;
  width: 100%;
}

.bit-1d {
  width: 100%;
  object-fit: cover;
}

.bit-1e {
  width: 100%;
  object-fit: cover;
}

.crit-bits {
  display: grid;
  gap: 11px;
  grid-template-columns: repeat(1, 1fr);

  @include md {
  grid-template-columns: repeat(3, 1fr);
}
}

.alt-spreads {
  display: grid;
  gap: 11px;
  grid-template-columns: repeat(1, 1fr);

  @include md {
  grid-template-columns: repeat(2, 1fr);
}
}

.alt-spread-1a {
  width: 100%;
  object-fit: cover;
  padding-top: 11px;
}

.alt-spread-1b {
  width: 100%;
  object-fit: cover;
}