.about-us {
    padding-top: 100px;
    padding-left: 20px;
    padding-bottom: 30px;

    @include md {
        padding-top: 150px;
        padding-left: 30px;
    }
}

.what-are-we {
    font-size: 60px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 500;

    @include md {
        font-size: 150px;
        padding-bottom: 30px;
    }
}

.what-are-we-2 {
    padding: 20px 20px 20px 20px;
    font-size: 15px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 400;
    width: 75%;
    box-shadow: 10px 10px #00FFFE;
    border-color: #000000;
    border: 2px solid;

    // background-color: #00FFFE; 
    // background-image: linear-gradient(to right, #ffffff 10%, rgba(0,0,0,0) 0%), linear-gradient(to bottom, #ffffff 20%, rgba(0,0,0,0) 0%);

    @include md {
        font-size: 30px;
        font-weight: 300;
        box-shadow: 20px 20px #00FFFE;
    }

    @include lg {
        font-size: 30px;
        font-weight: 300;
        padding-bottom: 80px;
    }
}

#text-over {
    text-shadow: -1px 1px #000000;
    color: #00FFFE;

    @include md {
        text-shadow: -2px 2px #000000;
    }
}

.cultivating {
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 25px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 500;
    margin-left: 20%;
     text-align: right;
    padding-right: 5%;

    @include md {
        // padding-left: 140px;
        padding-top: 140px;
        font-size: 90px;
        padding-right: 30px;
    }
}

.cultivating-2 {
    align-items: right;
    padding: 20px 20px 20px 20px;
    font-size: 15px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 400;
    width: 75%;
    box-shadow: -10px 10px #FF4B00;
    margin-left: 20%;
    border-color: #000000;
    border: 2px solid;

    @include md {
        padding: 25px 25px 25px 25px;
        font-size: 30px;
        box-shadow: 20px 20px #FF4B00;

        font-weight: 300;
    }

    @include lg {
        font-size: 30px;
        width: 75%;
        font-weight: 300;
    }
}

.change {
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 25px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 500;
    // margin-left: 37%;

    @include md {
        padding-left: 140px;
        padding-top: 140px;
        font-size: 90px;
        padding-right: 30px;
    }
}

.change-2 {
    align-items: right;
    padding: 20px 20px 20px 20px;
    font-size: 15px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 400;
    width: 75%;
    box-shadow: 10px 10px #00B3FF;
    // margin-left: 37%;
    border-color: #000000;
    border: 2px solid;

    @include md {
        padding-left: 140px;
        font-size: 30px;

        font-weight: 300;
    }

    @include lg {
        font-size: 30px;
        width: 75%;
        font-weight: 300;
    }
}

.power {
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 25px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 500;
    margin-left: 20%;
    text-align: right;
    padding-right: 5%;

    @include md {
        padding-left: 140px;
        padding-top: 140px;
        font-size: 90px;
        padding-right: 30px;
    }
}

.power-2 {
    align-items: right;
    padding: 20px 20px 20px 20px;
    font-size: 15px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 400;
    width: 75%;
    box-shadow: -10px 10px #F2FF00;
    margin-left: 20%;
    border-color: #000000;
    border: 2px solid;

    @include md {
        padding: 25px 25px 25px 25px;
        font-size: 30px;

        font-weight: 300;
    }

    @include lg {
        font-size: 30px;
        width: 75%;
        font-weight: 300;
    }
}

.fostering {
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 25px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 500;
    // margin-left: 37%;

    @include md {
        padding-left: 140px;
        padding-top: 140px;
        font-size: 90px;
        padding-right: 30px;
    }
}

.fostering-2 {
    align-items: right;
    padding: 20px 20px 20px 20px;
    font-size: 15px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 400;
    width: 75%;
    box-shadow: 10px 10px #43E458;
    // margin-left: 37%;
    border-color: #000000;
    border: 2px solid;

    @include md {
        padding-left: 140px;
        font-size: 30px;

        font-weight: 300;
    }

    @include lg {
        font-size: 30px;
        width: 75%;
        font-weight: 300;
    }
}

.positive {
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 25px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 500;
    margin-left: 20%;
    text-align: right;
    padding-right: 5%;
    padding-right: 5%;

    @include md {
        padding-left: 140px;
        padding-top: 140px;
        font-size: 90px;
        padding-right: 30px;
    }
}

.positive-2 {
    align-items: right;
    padding: 20px 20px 20px 20px;
    font-size: 15px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 400;
    width: 75%;
    box-shadow: -10px 10px #FF3AC0;
    margin-left: 20%;
    border-color: #000000;
    border: 2px solid;

    @include md {
        padding: 25px 25px 25px 25px;
        font-size: 30px;

        font-weight: 300;
    }

    @include lg {
        font-size: 30px;
        width: 75%;
        font-weight: 300;
    }
}