.front-works {
    display: grid;
}

.whats-new-title {
    font-size: 40px;
    padding-left: 30px;
    text-shadow: -1px 1px #A200FF;
    padding-bottom: 80px;

    @include md {
        font-size: 50px;
        text-shadow: -2px 2px #A200FF;
    }

    @include lg {
        font-size: 60px;
    }
}
