.big-logo {
    padding-top: 90px;
    padding-bottom: 140px;
    background-color: #A200FF; 
    background-image: linear-gradient(to bottom, #ffffff 40%, rgba(0,0,0,0) 20%);

    @include md {
    padding-bottom: 200px;
    }
}

.big-logo-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}