.title {
    padding-top: 50px;
    font-size: 60px;
    font-weight: 450;
    color: #FFC700;
    list-style-type: none;
    text-shadow: -2px 2px #000000;
}

.title-2 {
    font-size: 25px;
    color: #000000;
    list-style-type: none;
}

.objective {
    padding-top: 50px;
    font-size: 30px;
    color: #000000;
    list-style-type: none;
    text-shadow: -0.8px 0.8px #FFC700;
}

.ex-objective-2 {
    font-size: 20px;
    color: #000000;
    list-style-type: none;
    width: 100%;

    @include md {
        width: 740px;
    }
}

.objective-3 {
    padding-top: 20px;
    font-size: 30px;
    color: #000000;
    list-style-type: none;
    text-shadow: -0.8px 0.8px #FFC700;
}

.hallway-image1 {
    width: 100%;
    display: flex;
    padding-top: 40px;
    padding-bottom: 11px;
}

.hallway-image2 {
    width: 100%;
    display: flex;
    padding-bottom: 11px;
}

.ex-logo-ani5 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 11px;

    @include md {
        grid-template-columns: repeat(2, 1fr);
    }
}

.logo-ani3 {
    grid-template-rows: repeat(2);
    gap: 11px;
}

.logo-ani4 {
    grid-template-rows: repeat(2);
    gap: 11px;
}