.title {
    padding-top: 50px;
    font-size: 60px;
    font-weight: 450;
    color: #FFC700;
    list-style-type: none;
    text-shadow: -2px 2px #000000;
}

.symphony-title-2 {
    font-size: 25px;
    color: #000000;
    list-style-type: none;

    @include md {
        width: 740px;
    }
}

.objective {
    padding-top: 50px;
    font-size: 30px;
    color: #000000;
    list-style-type: none;
    text-shadow: -0.8px 0.8px #FFC700;
}

.symphony-objective-2 {
    font-size: 20px;
    color: #000000;
    list-style-type: none;
    width: 100%;

    @include md {
        width: 740px;
    }
}

.objective-3 {
    padding-top: 20px;
    font-size: 30px;
    color: #000000;
    list-style-type: none;
    text-shadow: -0.8px 0.8px #FFC700;
}

.magazine-image1 {
    width: 100%;
    display: flex;
    padding-top: 40px;
    padding-bottom: 11px;
}

.bit-1c {
    object-fit: cover;
    width: 100%;
}

.bit-1d {
    width: 100%;
    object-fit: cover;
}

.bit-1e {
    width: 100%;
    object-fit: cover;
}

.symphony-bits {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 11px;

    @include md {
        grid-template-columns: repeat(3, 1fr);
    }
}

.symphony-animation {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 11px;

    @include md {
    grid-template-columns: repeat(2, 1fr);
    }
}

.symphony-palette {
    object-fit: cover;
    width: 100%;

    @include md {
        width: 80%;
    }
}

.symphony-vid {
    object-fit: cover;
    width: 100%;

    @include md {
        width: 80%;
    }
}