.details {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 30px;
    font-size: 20px;
    width: 200px;
    color: #6e6e6e;
}

.icons {
    display: flex;
    flex-direction: row;
}

#copyright {
    font-size: 15px;
}

.linkedin {
    padding-right: 10px;
}

.linkedin-logo {
    width: 20px;
    margin-bottom: -4.9px;
}

.email-logo {
    width: 30px;
    padding-top: -30px;
}