.details {
    margin-top: 20px;
    padding-left: 20px;
    padding-bottom: 70px;
    padding-top: 30px;
    font-size: 20px;
    color: #ffffff;
    background-color: #000000;
}

.icons {
    display: grid;
    grid-template-rows: 33% 33% 33%;
   // padding-left: 30px;
    place-items: center;
}

.insta-logo {
    height: 20px;
    align-items: center;

    @include md {
        margin-bottom: 0px;
        grid-row: 1 / 2;
    }
}

.facebook-logo {
    height: 20px;
    align-items: center;
    grid-row: 3 / 4;

    @include md {
        margin-bottom: -4.9px;
        padding-left: 0px;
    }
}

.email-logo {
    height: 25px;
    align-items: center;

    @include md {
        margin-bottom: -8.5px;
        grid-row: 2 / 3;
        padding-left: 0px;
    }
}

.newsletter {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-top: 50px;

    @include md {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
}

.contact {
    display: grid;
    grid-template-columns: 25% 10% 1fr;

    @include md {
        grid-template-columns: 10% 10% 80% 1fr;
        grid-template-rows: 80px 200px 1fr;
    }

    @include lg {
        grid-template-columns: 8% 10% 82% 1fr;
        grid-template-rows: 80px 1fr;
    }
}

.subscribe-button {
    font-family: 'Bangers';
    font-weight: 100;
    background-color: #1c1c1c;
    color: #ffffff;
    font-family: 'Poppins', 'sans-serif';
    border-width: 0px;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
}

.email-space {
    border-width: 0px;
    border-radius: 0;
    height: 40px;
    font-weight: 100;
    padding-left: 20px;
    font-family: 'Poppins', 'sans-serif';
    width: 90%;
}

.placeholder {
    padding-left: 20px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 100;
}

.header_logo {
    width: 100px;
}