.details {
    padding-left: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 20px;
    color: #ffffff;
    background-color: #000000;
}

.icons {
    display: grid;
    grid-template-rows: 33% 33% 33%;
}

.insta {
    padding-right: 10px;
}

.insta-logo {
    height: 20px;
    margin-bottom: -4.9px;

    // grid-column: 2 / 3;
    // grid-row: 2 / 3;
}

.instas-logo {
    // grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.facebook-logo {
    height: 20px;
    margin-bottom: -4.9px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.email-logo {
    // width: 30px;
    // padding-top: -30px;
    height: 25px;
    margin-bottom: -4.9px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.contact {
    // display: grid;
    // grid-template-columns: repeat(1, 1fr);
    // grid-template-rows: 550px 550px 550px 1fr;

    // @include md {
    //     grid-template-columns: 140px 140px 1fr;
    //     grid-template-rows: 140px 1fr;
    // }

    // @include lg {

    //     grid-template-columns: 140px 140px 1fr;
    //     grid-template-rows: 140px 1fr;
    // }

    display: grid;
    grid-template-columns: 10% 10% 80% 1fr;

    // grid-template-rows: 33% 33% 33%;
}