.header {
    padding-top: 4%;
    padding-left: 15px;
    display: flex;
    align-items: center;
    padding-bottom: 0px;
    justify-content: space-between;
    margin-right: 150px;

    @include md {
        padding-top: 1%;
        padding-left: 26px;
        margin-right: 200px;
    }

    @include lg {}
}

.header_logo {
    width: 50px;

    @include md {
        width: 90px;
    }

    @include lg {}
}

.new_page-block {
    font-family: 'Alumni Sans', sans-serif;
    display: flex;

    @include md {}

    @include lg {}
}

.new_page1 {
    color: $black;
    font-size: 29px;
    text-decoration: none;
    padding-right: 40%;
    flex-direction: row;

    &:hover {

        text-shadow: -1px 1px #FFC700;

        @include md {
            text-shadow: -2px 2px #FFC700;
        }
    }

    @include md {
        font-size: 39px;
    }

    @include lg {}
}


.new_page2 {
    color: $black;
    font-size: 29px;
    text-decoration: none;
    padding-right: 40%;
    flex-direction: row;

    &:hover {

        text-shadow: -1px 1px #FFC700;

        @include md {
            text-shadow: -2px 2px #FFC700;
        }
    }

    @include md {
        font-size: 39px;
    }

    @include lg {}
}

.new_page3 {
    color: $black;
    font-size: 29px;
    text-decoration: none;
    flex-direction: row;

    &:hover {

        text-shadow: -1px 1px #FFC700;

        @include md {
            text-shadow: -2px 2px #FFC700;
        }
    }

    @include md {
        font-size: 39px;
    }

    @include lg {}
}