.intro {
    padding-left: 30px;
    font-size: 40px;
    width: 90%;
    padding-left: 20px;

    @include md {
        padding-left: 30px;
        font-size: 50px;
    }

    @include lg {
    font-size: 60px;
}
}

#intro-name {
    color: #FFC700;
    text-shadow: -1px 1px #000000;

    @include md {
        text-shadow: -2px 2px #000000;
    }
}