.front-works {
    display: grid;
   grid-template-columns: repeat(1, 1fr);
   grid-template-rows: 550px 550px 550px 550px 550px 
   550px 550px 550px 550px 550px 1fr;

    @include md {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 550px 550px 550px 550px 550px 550px 1fr;
}
}

.magazine_panel {
    width: 100%;
    height: 550px;
    object-fit: cover;
    
}

.front-magazine-cover {
    width: 100%;
    position: absolute;
    opacity: 0;
    list-style-type: none;
    margin-top: 0px;
    color: #ffffff;
    height: 550px;

    &:hover {
        opacity: 1;
        transition: .3s ease;
        background-color: #ffc800ce;
        width: 100%;

        @include md {
        width: 50%;
        }
    }

    @include md {
    width: 50%;
}
}

.magazine-title {
    padding-top: 20px;
    font-size: 50px;
    font-weight: 500;
}

.magazine-title-2 {
    font-size: 30px;
}

.hallway-painting_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.music-poster_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.oreo_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.bartram_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.cake_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.cake-menu_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.pill-print_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.emmelina_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.bread_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.exhibition_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}